---
import type { CollectionEntry } from "astro:content";
interface Props {
  tool: CollectionEntry<"tools">;
}

const { data } = Astro.props.tool;
---

<div class="flex flex-col border border-gray-500 bg-white w-72">
  <div class="flex items-center justify-center min-h-[200px] p-4">
    <div class="">
      <img
        src={"/logos/" + data.logo}
        alt={data.title}
        loading="lazy"
        decoding="async"
        class="rounded-full w-20 mx-auto"
      />
      <div class="flex-1">
        <h2 class="mb-1 text-xl font-bold text-center">
          {data.title}
        </h2>
      </div>
    </div>
  </div>
  <div class="pb-2 bg-gray-50 flex flex-col justify-between flex-grow">
    <p class="text-sm px-4 pt-2 border-t border-gray-500">
      {data.desc}
    </p>
    <div class="flex justify-between px-4">
      <a
        href={data.website}
        class="inline-flex items-center mt-2 text-gray-800 hover:underline"
        title="Visit Website"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418"
          ></path>
        </svg>
      </a>

      <a
        href={data.video}
        class="inline-flex items-center mt-2 text-gray-800 hover:underline"
        title="View Video"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</div>
